#LOGO {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

summary {
    cursor: pointer;
}

.card {
    margin: 0 1.2em 2em 1.2em; 
    padding: 0.5em 0.5em 0.25em 0.5em; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(245, 235, 222);
    border-radius: 0.8em;
}

.topFlex {
    display: flex;
}

.topEl {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nameCours {
    margin: 0;
    font-family: inter, 'Courier New', Courier, monospace;
}

.rate {
    margin-top: 1.2vw;
    border-radius: 0.5em;
    padding: 0.3em;
    background-color:white;
    min-height: 10vw;
    margin-bottom: 0;
    font-family: forum, 'Courier New', Courier, monospace;
}

.rateBox1 {
    display: flex;
    justify-content: start;
}

.rateBox2 {
    display: flex;
    justify-content: end;
}

.display {
    display: none;
}

.butFlexBox {
    width: 100%;
    display: flex;
    justify-content: center;
}


@font-face {
    font-family: "Forum"; 
    src: url("fonts/Forum/Forum-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    font-display: swap;
} 

@font-face {
    font-family: "Inter"; 
    src: url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    font-display: swap;
} 