* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-indent: 0.7vw;
}

p,
li,
h4 {
    margin-bottom: 1.8vw;
}

ul {
    margin-left: 4vw;
}

h1 {
    font-size: 4.8vw;
}

h2 {
    font-size: 3.4vw;
}

h4 {
    text-align: center;
}

h5 {
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

em {
    font-size: 108%; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    top: 0;  
    position: fixed;
    display: flex;
    width: 100%;
    height: 5vw;
    box-shadow: 0 0 6px 0;
    z-index: 10;
}

button {
    background-color:aliceblue;
    width: 20.833vw;
    color: black;
    height: 100%;
    font-size: 2.14vw;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background: linear-gradient(to right, pink, aliceblue, pink);
    color: goldenrod;
    transition: 0.7s;
}

#LOGO {
    width: 16.67vw; 
    background: linear-gradient(to right, pink, aliceblue);
}

#LOGO:hover {
    color: goldenrod;
    transition: 0.7s;
}

.main_content {
    width: 100%;
    font-size: 2.1vw;
    margin-top: 4.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-repeat: no-repeat;
}

#S0 {
    background: url(photo/pic2.jpeg);
    background-attachment: fixed;
    background-size: 100%;
}

#S1, #S3 {
    background: linear-gradient(to bottom right, pink, aliceblue, pink, aliceblue, pink);
}

#S2 {
    background: url(photo/fon1.jpeg);
    background-size: 100%;
}

#S4 {
    background: url(photo/walp.jpeg);
    background-size: 100%;
}

.item-0 {
    text-align: center;
    height: 22vw;
    color: white;
}

.item {
    margin: 2em 0;
    padding: 1em 0 1em 0;
    background-color: white;
    width: 85%;
    border-radius: 1em;
    text-align: justify;
}

.flex-image {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.images {
    width: 33%;
    border-radius: 10px;
}

.image {
    width: 33%;
    margin-left: 1em;
    float: right;
    border: 3px solid black;
    border-radius: 10px; 
}

.text {
    margin: 0 1.2em 0 1.2em;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    font-size: 2.56vw;
}

td:nth-child(2) {
    padding-left: 5vw;
}

details {
    background: linear-gradient( to left, white, pink);
    border-radius: 0.6em;
    margin-bottom: 2vw;
}

.info {
    margin-top: 1vw;
    margin-left: 2vw;
}

.cours {
    margin-bottom: 0.25vw;
}

.card {
    width: 60%;
}

.icon {
    width: 12vw;
    border-radius: 0.7em;
}

.date {
    font-size: 1.4vw;
}

.cardName {
    font-size: 2.7vw;
    font-weight: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}