* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: pink;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-indent: 0.7vw;
}

p > em {
    color: rgb(255, 160, 177);
}

p,
li,
h4 {
    margin-bottom: 1.8vw;
}

ul {
    margin-left: 4vw;
}

h1 {
    font-size: 2.14vw;
    font-weight: normal;
}

h2 {
    font-size: 3.4vw;
}

h4 {
    text-align: center;
    font-family: Forum, 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 2.6vw;
}

h5 {
    font-size: 2.2vw;
    margin-bottom: 1vw;
}

em {
    font-size: 108%; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    top: 0;  
    position: fixed;
    display: flex;
    width: 100%;
    height: 5vw;
    box-shadow: 0 0 6px 0;
    z-index: 10;
}

.headButton {
    background-color:aliceblue;
    width: 20.833vw;
    color: black;
    height: 100%;
    font-size: 2.14vw;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.headButton:hover {
    background: linear-gradient(to right, pink, aliceblue, pink);
    color: goldenrod;
    transition: 0.7s;
}

#LOGO {
    width: 16.67vw; 
    background: linear-gradient(to right, pink, aliceblue);
}

#LOGO:hover {
    color: goldenrod;
    transition: 0.7s;
}

.main_content {
    width: 100%;
    font-size: 2.1vw;
    margin-top: 4.6vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-repeat: no-repeat;
}

#S0 {
    background: url(photo/pic2s.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

#S1, #S3 {
    background: linear-gradient(to bottom right, pink, aliceblue, pink, aliceblue, pink);
}

#S2 {
    background: url(photo/fon1.jpeg);
    background-size: 100%;
}

#S4 {
    background: url(photo/walp.jpeg);
    background-size: 100%;
}

.item-0 {
    text-align: center;
    height: 28vw;
    color: white;
}

.item {
    margin: 2em 0;
    padding: 1vw 0 1vw 0;
    background-color: white;
    width: 86vw;
    border-radius: 1em;
    text-align: justify;
}

.aboutImgR {
    border-radius: 7px;
    width: 11vw;
    float: right;
    margin-left: 2vw;
}

.aboutImgL {
    border-radius: 7px;
    width: 11vw;
    float: left;
    margin-right: 1vw;
}

.image {
    width: 33%;
    margin-left: 1em;
    float: right;
    border: 3px solid black;
    border-radius: 10px; 
}

.text {
    margin: 0 1.2em 0 1.2em;  
    font-family: forum, 'Courier New', Courier, monospace;
}

table {
    font-size: 2.56vw;
}

td:nth-child(2) {
    padding-left: 5vw;
    font-weight: 700;
}

td {
    padding-bottom: 2vw;
}

details {
    background: linear-gradient( to left, white, pink);
    border-radius: 0.6em;
    margin-bottom: 2vw;
    box-sizing: border-box;
    padding-bottom: 1vw;
}

.info {
    margin-top: 1vw;
    margin-left: 2vw;
}

.cours {
    margin-bottom: 0.25vw;
}

.about-courses {
    text-align: center;
    margin-top: 2.5vw;
    font-size: 2.55vw;
    font-family: forum, 'Courier New', Courier, monospace;
}

.card {
    width: 60%;
}

.icon {
    width: 14vw;
    border-radius: 0.7em;
}

.nameCours {
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
}

.date {
    font-size: 1.4vw;
    margin-bottom: 0;
    font-family: monospace;
}

.cardName {
    font-size: 2.7vw;
    font-weight: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.back {
    font-size: 1vw;
 }

.rateButton {
    width: 10vw;
    height: 4vw;
    background-color: pink;
    border-radius: 0.4vw;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1.45vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.rate {
    max-height: 400px;
    overflow: scroll;
}

.rateButton:hover {
    background-color: rgb(255, 149, 169);
}

.relative-Box {
    position: relative;
    width: 100%;
    height: 230px;
}

/* Slider-Start */
.sliderWrap {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

#slider {
    width: 80.5vw;
    overflow: hidden;
}

#sliderUl {
    display: flex;
    margin: 0;
    margin-left: -1845vw;
    gap: 1.5vw;
    list-style-type: none;
    transition: margin 0.75s ease;
}

.slidLi {
    margin-bottom: 0;
}

.sliderImg {
    width: 19vw;
    height: 19vw;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    height: 19vw;
    width: 25vw;
    display: flex;
    align-items: center;
}

#back {
    left: 0;
    padding-left: 0.5vw;
}

#next {
    right: 0;
    justify-content: end;
    padding-right: 0.5vw;
}

.arImg {
    width: 2vw;
}
/* Slider-End */

/* toUp-start */
@keyframes gradient {
    from {
        border: 3px solid blue;
    }
    
    50% {
        border: 3px solid green;
    }

    to {
        border: 3px solid red;
    }
}

.toUp {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px;
    margin: 5px;
    border-radius: 150px;
    background-color: whitesmoke;
    z-index: 100;
    cursor: pointer;

    animation-name: gradient;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.toUpImg {
    width: 30px;
}

#toUp:hover {
    padding: 20px;
}
/* toUp-End */
@media screen and (max-width: 800px) {
.aboutImgR,
.aboutImgL {
    width: 19vw;
}

#aboutP {
    clear: both;
}

#aboutP2 {
    clear: left;
}

#slider {
    width: 87vw;
}

#sliderUl {
    margin-left: -1980vw;
    gap: 1vw;
}

.sliderImg {
    width: 21vw;
    height: 21vw;
    border-radius: 10px;
}

#back {
    padding-left: 1vw;
}

#next {
    padding-right: 1vw;
}

.imagesBox {
    width: 81.7vw;
}

#marginBox {
    width: 245.1vw;
}

p {
    text-indent: 1vw;
    margin-bottom: 2vw;
}

li,
h4 {
    margin-bottom: 2vw;
}

h1 {
    font-size: 3.4vw;
}

h2 {
    font-size: 4.6vw;
}

h4 {
    font-size: 3.7vw;
}

h5 {
    font-size: 4vw;
}

header {
    height: 9vw;
}

.headButton {
    font-size: 3.4vw;
}

.main_content {
    font-size: 3.6vw;
    margin-top: 9vw;
}

#S0 {
    background: url(photo/pic2.jpeg);
    background-attachment: fixed;
    background-size: 100%;
}

.item-0 {
    height: 34vw;
}

.item {
    margin: 1.5em 0 1.5em 0;
    padding: 0.9em 0 0.9em 0;
    width: 94%;
    border-radius: 1em;
}

.image {
    margin-left: 0.9em;
}

.text {
    margin: 0 1em 0 1em;  
}

table {
    font-size: 4.4vw;
}

details {
    border-radius: 0.5em;
}

.cours {
    margin-bottom: 0.4vw;
}

.card {
    width: 70%;
}

.icon {
    width: 17vw;
}

.date {
    font-size: 2.8vw;
}

.cardName {
    font-size: 3.5vw;
}

.nameCours{
    font-size: 2.2vw;
}

.rate {
    font-size: 3.4vw;
    max-height: 250px;
}

.back {
    font-size: 2.3vw;
    margin-top: 0vw;
 }

.rateButton {
    width: 20vw;
    height: 6vw;
    background-color: pink;
    border-radius: 0.6vw;
    border: 1px solid black;
    cursor: pointer;
    font-size: 3vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.rateButton:hover {
    background-color: rgb(255, 149, 169);
}

.about-courses {
    font-size: 4.2vw;
}
}





@font-face {
    font-family: "Forum"; 
    src: url("fonts/Forum/Forum-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Inter"; 
    src: url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 